/* * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form { background: #CCC; padding: 3px; position: fixed; bottom: 0; width: 100%; }
      form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
      form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
      .btn_fich {
      	width: 150px;
      	float: left;
      }*/

.login {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #FFF;
	z-index: 1000000;
}

.login .modal-content h4 {
	margin-bottom: 40px; 
}

/*.login .modal-footer {
	text-align: center;
}

.login .modal-footer a.btn {
	float: none !important;
}*/

.login .row .col {
	height: 100%;
}

.container-table {
	display: table;
}

.fixed {
	position: fixed;
}

.alg-right {
	text-align: right;
}

.no-padding {
	padding: 0px 0px 0px 0px !important;
}

.no-margin {
	margin: 0px 0px 0px 0px !important;
}

.row .col{
	height: 100vh;
}

.section-header {
	height: 10vh;
	width: 100%;
	background-color: #EEEEEE;
	border: 1px solid #CCC;
	border-collapse: collapse;
	border-top: none;
}

.avatar, .chat-avatar {
	height: 6.5vh;
	background-color: #FFF;
	position: relative;
	top: calc(50% - 3.5vh);
	margin-left: 10px;
	display: inline-block;
}

.user-name, .chat-name {
	position: relative;
	display: inline-block;
	padding: 1vh;
	top: -0.65vh;
}

.section-header-l {
	border-right: 0px;
}

.chats-wrapp, .chat-wrapp {
	position: relative;
}

.chat-wrapp {
	display: flex;
	flex-direction: column;
}

.chat-wrapp, .chat-content {
	height: 80vh;
}

.chats-wrapp {
	height: 90vh;
	overflow-y: auto;
}

.chat-content {
	overflow-y: auto;
	padding: 20px;
	/*background-color: #E5DDD5;*/
	background-color: rgba(229, 221, 213, 0.9);
/*	flex: 0 0 auto;*/
}

.chat-bg {
	background-image: url('../img/bg-chat.png');
	content: "";
	opacity: 0.8;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;   
	background-repeat: repeat repeat;
}

.message-wrapp {
	display: block;
	padding: 10px;
	margin: 15px 20px;
	flex: 0 0 auto;
}

.message-wrapp:first-child {
	margin-top: 0px;
}

.message-header, .message-content {
	display: block;
	text-align: left;
}

.message-name {
	font-weight: bolder;
} 

.message,.self-message {
	padding: 10px;
	display: inline-block;
	position: relative;
	border-radius: 5px;
	vertical-align: baseline;
}

.message {
	background-color: #FFF;
}

.self-message {
	background-color: #dcf8c6;
}

/*.message::after {
    top: -4px;
    left: -23px;
    right: 100%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    border-right-color: #FFF;
    border-width: 15px;
    border-radius: 15px;
}

.self-message::before {
	top: -4px;
    left: 107px;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    border-left-color: #dcf8c6;
    border-width: 15px;
    border-radius: 15px;
}*/

.section-footer {
	height: 10vh;
	background-color: #F5F1EE;
	padding: 1vh;
}

.chat-pan-content {
	height: 10vh;
}

.chat-pan-content:hover {
	background-color: #F7F7F7;
	cursor: pointer;
}

.chat-active {
	/*background-color: #20d86d;*/
	background-color: #CCC;
	/*color: #FFF;*/
}

.chat-active:hover {
	background-color: #888;
	color: #FFF;
}

.section-footer input {
	background-color: #FFF !important;
	margin: 0px !important;
	border-bottom: 0px !important;
	height: 7.5vh !important;
	padding: auto 10px !important;
}

.section-footer input:hover, .section-footer input:focus, .section-footer input:active {
	border-bottom: 0px;
	box-shadow: none !important;
}

.section-footer button.btn {
	height: 7.5vh !important;
	padding: 0px 2vw !important;
	text-align: center;
	border-radius: 0px !important;
	box-shadow: none !important;
}

.section-footer button.btn i {
	margin: 0px !important;
	height: 7.5vh !important;
/*	position: relative !important;
	top: calc(50% - 3.75vh) !important;*/
	line-height: 50%;
}

#main_chat {
	border-bottom: 5px solid #666;
}

.no_molestar {
	border: 2px solid red;
}

.online {
	border: 2px solid green;
}

.ausente {
	border: 2px solid orange;
}